<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <category
            name="CVS"
            id="org.eclipse.team.ccvs.ui">
      </category>
      <view
            allowMultiple="false"
            icon="icons/tree.gif"
            class="net.sf.versiontree.views.VersionTreeView"
            category="org.eclipse.team.ccvs.ui"
            fastViewWidthRatio="0.3"
            name="CVS Version Tree"
            id="net.sf.versiontree.views.VersionTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="1.0"
               relative="org.eclipse.ui.views.TaskList"
               relationship="stack"
               id="net.sf.versiontree.views.TreeView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.team.cvs.ui.cvsPerspective">
         <view
               ratio="1.0"
               relationship="stack"
               relative="org.eclipse.team.ccvs.ui.HistoryView"
               id="net.sf.versiontree.views.TreeView"/>
      </perspectiveExtension>
   </extension>
   <extension
         id="net.sf.versiontree.ui.preferences.VersionTreePreferencePage"
         name="Version Tree"
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.versiontree.ui.preferences.VersionTreePreferencePage"
            category="org.eclipse.team.cvs.ui.CVSPreferences"
            name="Version Tree"
            id="net.sf.versiontree.ui.preferences.VersionTreePreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            id="net.sf.versiontree.popup.actions.ShowResourceInVersionTreeAction">
         <filter
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature"
               name="projectPersistentProperty"/>
         <action
               enablesFor="1"
               label="Show in Version Tree"
               tooltip="Displays the version tree for the selected resource."
               class="net.sf.versiontree.popup.actions.ShowResourceInVersionTreeAction"
               menubarPath="team.main/group2"
               id="net.sf.versiontree.popup.actions.ShowResourceInVersionTreeAction"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.team.internal.ccvs.core.ICVSRemoteFile"
            id="net.sf.versiontree.popup.actions.ShowRemoteInVersionTreeAction">
         <action
               enablesFor="1"
               label="Show in Version Tree"
               tooltip="Displays the version tree for the selected resource."
               class="net.sf.versiontree.popup.actions.ShowRemoteInVersionTreeAction"
               id="net.sf.versiontree.popup.actions.ShowRemoteInVersionTreeAction"/>
      </objectContribution>
   </extension>

</plugin>
