<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sf.versiontree"
   name="VersionTree Plug-in"
   version="0.0.2"
   provider-name="versiontree.sf.net"
   class="net.sf.versiontree.VersionTreePlugin">

   <runtime>
      <library name="VersionTree.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.cvs.core"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.cvs.ui"/>
      <import plugin="org.eclipse.team.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <category
            name="CVS"
            id="org.eclipse.team.ccvs.ui">
      </category>
      <view
            name="CVS Version Tree"
            icon="icons/tree.gif"
            category="org.eclipse.team.ccvs.ui"
            class="net.sf.versiontree.views.VersionTreeView"
            id="net.sf.versiontree.views.VersionTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="net.sf.versiontree.views.VersionTreeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="net.sf.versiontree.popup.actions.ShowResourceInVersionTreeAction">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="Show in Version Tree"
               tooltip="Displays the version tree for the selected resource."
               class="net.sf.versiontree.popup.actions.ShowResourceInVersionTreeAction"
               menubarPath="team.main/group2"
               enablesFor="1"
               id="net.sf.versiontree.popup.actions.ShowResourceInVersionTreeAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
